[user]
	name = Lincoln Stoll
	# Force a config to be set
	useConfigOnly = true
	signingkey = B26F07E7
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[alias]
  st = status --short --branch
  co = checkout
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lp = log --patch
  dc = diff --cached
  ack = grep --break --heading --line-number

[github]
	user = lstoll

[push]
	default = simple
[credential]
	helper = helper
[color "grep"]
	filename = bold green
	match = black yellow
[commit]
	gpgsign = true

[include]
  # For username / creds / etc
  path = ~/.gitconfig.local
[core]
	excludesfile = ~/.gitignore_global
